<!DOCTYPE HTML>
<html>
	<head>
	<!--title and icon-->
	<title> Beer Buddy - Add Beer Page </title>
	<link rel="icon" sizes="76x76" href="pic/logo.png" type="image/x-icon">
	
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styling/add beer page.css">
	
</head>

	<body>
		
<!--navbar-->

{% include "home/navbar.html"%}

<div class="container" id="con">

	<div class="input-group mb-3" id="name">
	<div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Name:</span>
	</div>
	<input type="text" class="form-control" placeholder="Name of the Beer" aria-label="Username" aria-describedby="basic-addon1">
	</div>

	<div class="input-group mb-3" id="Origin">
	<div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Origin:</span>
	</div>
	<input type="text" class="form-control" placeholder="Country of the Beer" aria-label="Username" aria-describedby="basic-addon1">
	</div>
	
	<div class="input-group mb-3" id="ACL">
	<div class="input-group-prepend">
    <span class="input-group-text">ACL</span>
	</div>
	<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
	<div class="input-group-append">
    <span class="input-group-text">%</span>
	</div>
	</div>
	
	
	
	<div class="input-group mb-3" id="color">
	<div class="input-group-prepend">
    <button type="button" class="btn btn-outline-secondary">Action</button>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Amber</a>
      <a class="dropdown-item" href="#">Blonde</a>
	  <a class="dropdown-item" href="#">Brown</a>
	  <a class="dropdown-item" href="#">Cream</a>
	  <a class="dropdown-item" href="#">Dark</a>
	  <a class="dropdown-item" href="#">Fruit</a>
	  <a class="dropdown-item" href="#">Golden</a>
	  <a class="dropdown-item" href="#">Honey</a>
	  <a class="dropdown-item" href="#">India Pale Ale</a>
	  <a class="dropdown-item" href="#">Light</a>
	  <a class="dropdown-item" href="#">Pale</a>
	  <a class="dropdown-item" href="#">Pilsner</a>
	  <a class="dropdown-item" href="#">Red</a>
	  <a class="dropdown-item" href="#">Strong</a>
	  <a class="dropdown-item" href="#">Wheat</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Unkown</a>
    </div>
	</div>
	<input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
	</div>
	
	<div class="input-group mb-3" id="Type">
	<input type="text" class="form-control" aria-label="Text input with dropdown button">
	<div class="input-group-append">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Ales</a>
      <a class="dropdown-item" href="#">Lagers</a>
      <a class="dropdown-item" href="#">Stouts & Porters</a>
	  <a class="dropdown-item" href="#">Malts</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Unkown</a>
    </div>
	</div>
	</div>

	<img src="pic/add_photo_icon.svg" weight=45px; height=45px;></img>
	<div class="input-group mb-3">
	<div class="input-group-prepend">
    <span class="input-group-text">Add a photo </span>
	</div>
	<div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
	</div>
	</div>
	
	<div class="form-group">
    <label for="exampleFormControlTextarea1">Details:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
	</div>

	<button type="button" class="btn btn-outline-primary">Submit</button>
</div>


	<!-- footer -->
{% include "home/footer.html"%}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>