{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} BeerBuddy {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}"/>
</head>
<body>
    <header>
        <hr>
        <p>Header</p>
        {% include 'home/header.html' %}
        </hr>
    </header>

    {% block main_content %}

    {% endblock %}
    <footer>
        {% include 'home/footer.html' %}
    </footer>

</body>
</html>