﻿<!DOCTYPE HTML>
{% load static %}
<html>
<head>
	<!--title and icon-->
	<title> Beer Buddy - Filter Page </title>
	<link rel="icon" sizes="76x76" href="pic/logo.png" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="{% static 'home/styling/filter page.css' %}">

</head>

<body>

<!--navbar-->

{% include "home/navbar.html"%}


<!-- Carousel Filters -->
<div class="container" id="con">
	<form class="form-group" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<!--{{ form.as_p }}-->


        {% for field in form %}
            <fieldset class="control-group">
                <label class="control-label" form="{{ field.name }}">{{ field.label }}:</label>
                <div class="field control-group">
                    {{ field }}
                </div>
            </fieldset>
        {% endfor %}
		<input type="submit" id="submit" class="btn btn-primary" value="Submit">
	</form>
</div>


<!-- footer -->
{% include "home/footer.html"%}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>