<!DOCTYPE HTML>
<html>
	<head>
	<!--title and icon-->
	<title> Beer Buddy - Filter page</title>
	<link rel="icon" sizes="76x76" href="pic/logo.png" type="image/x-icon">
	
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styling/filter page.css">
	
</head>

	<body>
		
<!--navbar-->

{% include "home/navbar.html"%}
  <script src="js/scripts.js"></script>
  <div class="row">
  <form action="/results.html" method="get" id="form1" >
	  <div class="column">
		<h2>TYPE</h2>

		<input type="radio" name="type" value="Lager">Lager<br>
		<input type="radio" name="type" value="Ale">Ale<br>
		<input type="radio" name="type" value="Malte">Malte<br>
		<input type="radio" name="type" value="Stout">Stout
	  </div>
	  <div class="column">
		<h2>COLOR</h2>

		<input type="radio" name="color" value="Black">Black<br>
		<input type="radio" name="color" value="Yellow">Yellow<br>
		<input type="radio" name="color" value="Amber">Amber<br>
		<input type="radio" name="color" value="Brown">Brown
	  </div>
	   <div class="column">
		<h2>COUNTRY</h2>
		<input type="radio" name="country" value="Germany">Germany<br>
		<input type="radio" name="country" value="Canada">Canada<br>
		<input type="radio" name="country" value="USA">USA<br>
		<input type="radio" name="country" value="Mexico">Mexico
	  </div>
	  <Button class="search" form="form1" >Search</Button>
  </form>
</div>
<!-- footer -->
{% include "home/footer.html"%}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>