<footer>
        <!-- footer -->
<div class="container-fluid" id="bg">
<div class="container">
<div id="page-wrap">
	<div id="bb">
		<h5 style="text-align:center;">Beer Buddy</h5>
		<p style="text-align:center;"><a href="home page.html">Home</a></p>
		<p style="text-align:center;"><a href="top picks.html">Top Picks</a></p>
		<p style="text-align:center;"><a href="add beer.html">Add a Beer</a></p>
	</div>

	<div id="about">
		<h5 style="text-align:center;">About</h5>
		<p style="text-align:center;"><a href="#">About Us</a></p>
		<p style="text-align:center;"><a href="#">Privacy & Security</a></p>
		<p style="text-align:center;"><a href="#">FAQ</a></p>
	</div>

	<div id="contant">
		<h5 style="text-align:center;">Contact</h5>
		<p style="text-align:center;">Have a question or feedback? Contact me!</p>
		<p style="text-align:center;"><object type="image/svg+xml" data="pic/email-icon.svg" weight=15px; height=15px;></object><a href="" title="Contact me!"> Contact</a></p>
	</div>
	<div id="follow">
		<h5 style="text-align:center;">Follow Us</h5>
		<p style="text-align:center;"><object type="image/svg+xml" data="pic/fb-icon.svg" weight=15px; height=15px;></object><a href="#"> Facebook</a></p>
		<p style="text-align:center;"><object type="image/svg+xml" data="pic/twi-icon.svg" weight=15px; height=15px;></object><a href="#"> Twitter</a></p>
	</div>
</div>

<div id="page-box">
	<p style="text-align:center;"> ©2018 Beer Buddy. All rights reserved</p>
</div>
</div>
</div>

</footer>