<!doctype html>
<html lang="en" >
<head>
	<!--title and icon-->
	<title> Beer Buddy - Home Page</title>
	<link rel="icon" sizes="76x76" href="pic/logo.png" type="image/x-icon">
	
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styling/home page.css">
	
</head>

<body>

<!--navbar-->

<nav class="navbar navbar-expand-lg navbar-light highlight" >
  <a class="navbar-brand list" id="bn"><img src="pic/logo.png" width="60" height="40" alt="">Beer Buddy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav ml-auto">
	  <li class="nav-item active">
		<!-- INLINE STYLING TO CHANGE THE FOLLOWING FONTS TO WHITE, UNSURE HOW TO USE SELECTOR TO AFFECT ALL ANCHOR TAGS AT ONCE-->
		<a class="nav-link" href="home page.html">Home<span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="top picks.html">Top Picks<span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Article
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" href="article page.html">Ariticle: NO.1</a>
		  <a class="dropdown-item" href="article page.html">Ariticle: NO.1</a>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="#">Something else here</a>
		
		</div>
		<li class="nav-item">
		<a class="nav-link" href="library page.html">All Products<span class="sr-only">(current)</span></a>
	  </li>
	  </li>
	</ul>
  </div>
</nav>

<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="article page.html"><img class="d-block w-100" width="800" height="500" src="pic/sample1.jpg" alt="First slide"></a>
	  <div class="carousel-caption">
        <h3>This is the first slide</h3>
        <p>evbfinjvoweo</p>
      </div>
    </div>
    <div class="carousel-item">
      <a href="article page.html"><img class="d-block w-100" width="800" height="500" src="pic/sample2.jpg" alt="Second slide"></a>
	  <div class="carousel-caption">
        <h3>This is the second slide</h3>
        <p>evbfinjvoweo</p>
      </div>
    </div>
    <div class="carousel-item">
      <a href="article page.html"><img class="d-block w-100" width="800" height="500" src="pic/sample2.jpg" alt="Third slide"></a>
	  <div class="carousel-caption">
        <h3>This is the third slide</h3>
        <p>evbfinjvoweo</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container" id="cards">
<div class="row">
  <div class="col-sm-6" id="novice">
    <div class="card">
      <div class="card-body">
       <a href="top picks.html"><button type="button" class="btn btn-danger btn-lg " id="nbt">   NOVICE   </button></a>
	   <hr>
		<h5 class="card-title">New to drinking beer? </h5>
		<p class="card-text">Look at some of our top picks! We have a selection of beers that are popular amongst our users that you may like too.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" id= "exper">
        <a href="filter page.html"><button type="button" class="btn btn-info btn-lg " id="ebt" >EXPERIENCED</button></a>
		<hr>
		<h5 class="card-title">A beer expert?</h5>
		<p class="card-text">Choose your own filters! We have a variety of filters to help you find the beer your looking for.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- footer -->
<div class="container-fluid" id="bg">
<div class="container">
<div id="page-wrap">
	<div id="bb">
		<h5 style="text-align:center;">Beer Buddy</h5>
		<p style="text-align:center;"><a href="home page.html">Home</a></p>
		<p style="text-align:center;"><a href="top picks.html">Top Picks</a></p>
		<p style="text-align:center;"><a href="add beer.html">Add a Beer</a></p>
	</div>

	<div id="about">
		<h5 style="text-align:center;">About</h5>
		<p style="text-align:center;"><a href="#">About Us</a></p>
		<p style="text-align:center;"><a href="#">Privacy & Security</a></p>
		<p style="text-align:center;"><a href="#">FAQ</a></p>
	</div>

	<div id="contant">
		<h5 style="text-align:center;">Contact</h5>
		<p style="text-align:center;">Have a question or feedback? Contact me!</p>
		<p style="text-align:center;"><object type="image/svg+xml" data="pic/email-icon.svg" weight=15px; height=15px;></object><a href="" title="Contact me!"> Contact</a></p>
	</div>
	<div id="follow">
		<h5 style="text-align:center;">Follow Us</h5>
		<p style="text-align:center;"><object type="image/svg+xml" data="pic/fb-icon.svg" weight=15px; height=15px;></object><a href="#"> Facebook</a></p>
		<p style="text-align:center;"><object type="image/svg+xml" data="pic/twi-icon.svg" weight=15px; height=15px;></object><a href="#"> Twitter</a></p>
	</div>
</div>	

<div id="page-box">
	<p style="text-align:center;"> ©2018 Beer Buddy. All rights reserved</p>
</div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>