<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />
    <link rel="icon" sizes="76x76" href="{% static 'home/images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/styling/login.css' %}">
</head>
<body>
{% include "home/navbar.html"%}
<div class="ui raised very padded center aligned text container segment">
  <h1 class="ui header">Log in</h1>
  <br>
  <div class="field">
   <div class="ui left icon input">
  <i class="mail outline icon"></i>
    <input type="email" name="email" placeholder="Email Address" autofocus="true">
  </div></div>
<br>
    <div class="field">
  <div class="ui left icon input">
<i class="lock icon"></i>
    <input type="password" name="password" placeholder="Password">
  </div></div>
<br>



  <div class="actions">
    <button class=" ui large teal button" type="submit">Log in</button>
  </div>
  <br>
    <p>Don't have an account? <a href="{% url 'signup' %}"> Sign up </a></p>
</div>


{% include "home/footer.html"%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>