{% load static %}
<nav class="navbar navbar-expand-lg navbar-light highlight" >
	<a class="navbar-brand list" id="bn" href="{% url 'home' %}"><img src="{% static 'home/images/logo.png' %}" width="60" height="40" alt="">Beer Buddy</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<!-- INLINE STYLING TO CHANGE THE FOLLOWING FONTS TO WHITE, UNSURE HOW TO USE SELECTOR TO AFFECT ALL ANCHOR TAGS AT ONCE-->
				<a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'top_picks' %}">Top Picks<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Article
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'article_page' %}">Ariticle: NO.1</a>
					<a class="dropdown-item" href="{% url 'article_page' %}">Ariticle: NO.1</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>

				</div>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'library_page' %}">All Products<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'add_beer' %}">Add Beer<span class="sr-only">(current)</span></a>
			</li>
			</li>
		</ul>
	</div>
</nav>