<!DOCTYPE HTML>
{% load static %}
<html>
<head>
	<!--title and icon-->
	<title> Beer Buddy - Add Beer Page </title>
	<link rel="icon" sizes="76x76" href="pic/logo.png" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'home/styling/product page.css' %}">

</head>

<body>

<!--navbar-->

{% include "home/navbar.html"%}


<div class="container">
	<div class="image">
		<img class="card-img-top" src ="/media/{{ item.beerPhoto }}" width="100" height="150" class="img-thumbnail">
	</div>
	<div class="info">
		<form action="" method="GET" id="information">
		<div>
			<label> <strong> Name:</strong> </label>
			<output> {{item.beerName}} </output>
		</div>
		<br>


		<div>
			<label> <strong> ALC %:</strong> </label>
			<output> {{item.alcoholVolume}} </output>
		</div>
		<br>

		<div>
			<label> <strong> Type:</strong> </label>
			<output> {{item.bodyType}} </output>
		</div>
		<br>
		<div>
			<label> <strong> Bottle Price:</strong> </label>
			<output> {{item.bottlePrice}} </output>
		</div>
		<br>
		<div>
			<label> <strong> Can Price:</strong> </label>
			<output> {{item.canPrice}} </output>
		</div>
		<br>
		<div>
			<label> <strong> Keg Price:</strong> </label>
			<output> {{item.kegPrice}} </output>
		</div>
		<br>

		<div>
			<label> <strong> Brand:</strong> </label>
			<output> {{item.brand}} </output>
		</div>


	</form>
	</div>

	</div>



		<!-- footer -->
		{% include "home/footer.html"%}

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>