﻿<!DOCTYPE HTML>
{% load static %}
<html>
<head>
	<!--title and icon-->
	<title> Beer Buddy - Add Beer Page </title>
	<link rel="icon" sizes="76x76" href="pic/logo.png" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'home/styling/top picks.css' %}">

</head>

<body>

<!--navbar-->

{% include "home/navbar.html"%}

<div class="container">


	<center>
		<!--
            <div class="picks" id="p1">
                <h1 class="display-1" id="rank">Top1</h1>
                <div class="img"><img src="Corona Extra.png" width="300" height="300" class="img-thumbnail"></div>
                <div class="info">
                    <h1>Some beer</h1>
                    <p class="lead">it tastes really good!</p>
                    <button type="button" class="btn btn-outline-danger">Learn more</button>
                </div>
            </div>
        /-->

		<div class="picks" id="p1">

			<div class="t1info">
				<h1 class="display-1" id="rank">Top1</h1>
				<hr>
				<h1>Some beer</h1>
				<p class="lead">it tastes really good!</p>
				<button type="button" class="btn btn-outline-danger">Learn more</button>
			</div>
			<div class="img"><img src="pic/corona.jpg" width="470" height="470" class="img-thumbnail"></div>


		</div>

		<div class="picks" id="p2">
			<h1 class="display-3" id="rank">Top2</h1>
			<div class="img"><img src="pic/corona.jpg" width="300" height="300" class="img-thumbnail"></div>
			<div class="info">
				<h1>Some beer</h1>
				<p class="lead">it tastes really good!</p>
				<button type="button" class="btn btn-outline-info">Learn more</button>
			</div>
		</div>

		<div class="picks" id="p3">
			<h1 class="display-3" id="rank">Top3</h1>
			<div class="img"><img src="pic/corona.jpg" width="300" height="300" class="img-thumbnail"></div>
			<div class="info">
				<h1>Some beer</h1>
				<p class="lead">it tastes really good!</p>
				<button type="button" class="btn btn-outline-warning">Learn more</button>
			</div>
		</div>

		<div class="picks" id="p4">
			<h1 class="display-3" id="rank">Top4</h1>
			<div class="img"><img src="pic/corona.jpg" width="300" height="300" class="img-thumbnail"></div>
			<div class="info">
				<h1>Some beer</h1>
				<p class="lead">it tastes really good!</p>
				<button type="button" class="btn btn-outline-success">Learn more</button>
			</div>
		</div>

		<div class="picks" id="p5">
			<h1 class="display-3" id="rank">Top5</h1>
			<div class="img"><img src="pic/corona.jpg" width="300" height="300" class="img-thumbnail"></div>
			<div class="info">
				<h1>Some beer</h1>
				<p class="lead">it tastes really good!</p>
				<button type="button" class="btn btn-outline-primary">Learn more</button>
			</div>
		</div>

		<div class="picks" id="p6">
			<h1 class="display-3" id="rank">Top6</h1>
			<div class="img"><img src="pic/corona.jpg" width="300" height="300" class="img-thumbnail"></div>
			<div class="info">
				<h1>Some beer</h1>
				<p class="lead">it tastes really good!</p>
				<button type="button" class="btn btn-outline-dark">Learn more</button>
			</div>
		</div>

	</center>


	<!-- footer -->
	{% include "home/footer.html"%}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>