/* copy*/
.navbar {
    background-color: #cccccc;
}
#bn{
	font-size: 3em;
	color:white;
	font-family: 'Raleway', sans-serif;
}


/* copy*/

#con{
	padding-top:50px;
	padding-bottom: 100px;
}

#type,#color,#country{
margin-top: -10px;
}

#color, #country{
	margin-right:10px;
}

.my-4{
	margin-left: 200px;
	margin-right: 200px;
}

.butt{
	padding-left:350px;
}

.btn:focus{
	background-color: #f2f2f2;
}

#jj{
	padding-top: -10px;
}

/* copy*/
#page-wrap div {
	display:table-cell;
	width:25%;
	padding:2%;
	font-size:1.0vw;
	word-wrap:break-word;
}

#bg{
	background-color:#f2f2f2;
}
/* copy*/


/* Abdul's styling*/
/* <style>
	* {
		box-sizing: border-box;
	}
      input[type="radio"]{
          vertical-align: baseline;
      }
	#Create two equal columns that floats next to each other
	.column {
		float: left;
		width: 33%;
		padding: 10px 0px 10px 10%;
		height: 300px; # Should be removed. Only for demonstration
		background-color:#bbb;
	}

	#Clear floats after the columns
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	.search{
		padding:16px 32px;
		font-family:helvetica;
		font-size:16px;
		font-weight:100;
		color:#fff;
		background: #587286;
		border:0;
		font-weight:100;
		margin:auto;
		display:block;
	}
	.search:hover{
		padding:16px 32px;
		font-family:helvetica;
		font-size:16px;
		font-weight:100;
		color:#fff;
		background: #000000;
		border:0;
		font-weight:100;
		margin:auto;
		display:block;
	}
  </style> */
