#body{
	background-image: url(background.jpg);
}





#bg{
background-color:#f2f2f2;
}

#page-wrap div {
	display:table-cell;
	width:25%;
	padding:2%;
	font-size:1.0vw;
	word-wrap:break-word;
	color:#666;
}


body {
text-align: center;
}

.filter {
display: block
}


.block {
display: inline-block;
height 200px;
padding: 50px;
}

