

/* copy*/
.navbar {
    background-color: #cccccc;
}
#bn{
	font-size: 3em;
	color:white;
	font-family: 'Raleway', sans-serif;
}
/* copy*/


#cards{
	margin-top: 40px;
	margin-bottom: 100px;
}
#ebt{

}

#carouselExampleIndicators{
	padding-top:25px;
}

#nbt{
	padding-left:45px;
	padding-right:50px;
}

/* copy*/
#page-wrap div {
	display:table-cell;
	width:25%;
	padding:2%;
	font-size:1.0vw;
	word-wrap:break-word;
}

#bg{
	background-color:#f2f2f2;	
}
/* copy*/
